/* Оголошення змінних */
:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --title-accent-color:#ffff;
    --footer-bg-color:#2F303A;
    --footer-prim-text-color: rgba(255, 255, 255, 0.6);
    --button-color:#F5F4FA;
}
/* Загальні стилі для двох сторінок */
body{
    color:var(--primary-text-color);
    
    font-family: Roboto, sans-serif;
     }

   button{
    font-family: inherit;   
   }
/* WebSudio */
.logo{
    color:var(--accent-color);

    font-family: Raleway;
    /* font-style: normal; */
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

}
.logo-text-primary{
    color:var(--title-text-color);
}
.logo-text-secondary{
  color:var(--title-accent-color);  
}
/*  Menu*/
.menu-link{
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.list{
list-style:none;
}
.menu-link:hover,
.menu-link:focus{
    color:var(--accent-color);
}
.menu-link.current{
    color:var(--accent-color);
}
/* Контакти в nav */
.contact-link{
    color:var(--primary-text-color);
      
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
/* Футер */
footer{
    background-color:var(--footer-bg-color); /* тимчасовий бекграунд */ 
    
}
.adr{
    color:var(--title-accent-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-link{
    color:var(--footer-prim-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Стили для index.html */

/* Герой */
.hero{
    color:var(--title-accent-color);
    background-color: var(--title-text-color); /* тимчасовий бг */
 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn{
    color: var(--title-accent-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
/* <!-- Особенности --> */
.subtitle{
    color:var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  /* Блок Чем мы занимаемся */
  .title{
      color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  /* <!-- Наша команда --> */
  .sub-title{
    color:var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  .speciality{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  /* Стили для portfolio.html*/
  /* Кнопки */
  .btn-nav{
    color:var(--title-text-color);
    background-color: var(--button-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
  }
  .btn-nav:hover,
  .btn-nav:focus{
    color:var(--button-color);
    background-color: var(--accent-color);
  }
  /* Блок Портфолио */
  .project-title{
    color: var(--title-text-color);

    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .project-text{
/* - колор - наслідується з баді  */
    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
  }